*.class

# Package Files #
*.jar
*.war

# gwt caches and compiled units #
war/cudaonlineide/
gwt-unitCache/
.gwt/
.settings/
test-classes/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/
